// Aqui vão as configurações de padrão cromático
/* Padrão Cromático */
$cor-principal: #ED145B;
$cor-principal-var1: #DE7621;
$cor-principal-var2: #b1460d;
$cor-bg-nav: #ECECEC;
$cor-white: #ffffff;
$cor-black: #000000;
$cor-box-shadow-nav: rgba(197, 197, 197, 0.25);
$cor-contraste: #ffffff;
$cor-bg-perfil: rgba(255, 255, 255, 0.8);
