/* Tipografia do Projeto */
@import "roboto";


p {
    font-size: 1em;
}


#pausa {
  nav.controles{
      .data {
          
      }
  }
  .pausa-corpo {
    .conteudo {
        header {
          .bto-data, .bto-buscar-aleatoria {
            @include roboto("black");
            font-size: em(24px);  
          }
        }
        footer {
            .bto-compartilhar {
                @include roboto("black");
                font-size: em(24px);
                
            }
        }
    }
}
}

#perfil {
  h2
  {
    color: $cor-principal;
    @include roboto("semibold");
    font-size: em(24px);
  }
  p{
    font-size: 1em;
    max-width: 740px;
    margin: auto;
  }
  .projeto p {
    font-size: em(18px)
  }
}

.menuFlutuante {
  [class^="bto-"]:not(.bto-fechar){
    @include font("medium", 32px, $cor-principal);
}
  footer{
    button {
      @include font("black", 24px, $cor-white);
    }
  }
}

.busca {
  .form {
    .grupo {
          .bto-ir {
            @include font("black", 36px, $cor-white)
          }
          input.termos, input.date {
            @include font("medium", 64px, #333333);
        }
        select {
          @include font("medium", 45px, $cor-principal)
        }
        option {
          font-size: 1.5rem !important;
        }
      }
  }
}