@charset "UTF-8";
.bto-reset {
  background: none;
  border: 0px none;
}

.inativo {
  pointer-events: none;
  touch-action: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0.2;
}

/* Padrão Cromático */
html, body {
  height: 100%;
}

body {
  font-size: 20px;
  background: url(../img/Background.png) center center/cover fixed no-repeat;
}
body.revelarBusca {
  overflow: hidden;
}
body.revelarBusca .busca {
  display: block !important;
  animation-name: revelarBusca;
  animation-duration: 0.5s;
}
@keyframes revelarBusca {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body.ocultarBusca .busca {
  display: block;
  animation-name: ocultarBusca;
  animation-duration: 0.5s;
}
@keyframes ocultarBusca {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Tipografia do Projeto */
p {
  font-size: 1em;
}

#pausa .pausa-corpo .conteudo header .bto-data, #pausa .pausa-corpo .conteudo header .bto-buscar-aleatoria {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.2em;
}
#pausa .pausa-corpo .conteudo footer .bto-compartilhar {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.2em;
}

#perfil h2 {
  color: #ED145B;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2em;
}
#perfil p {
  font-size: 1em;
  max-width: 740px;
  margin: auto;
}
#perfil .projeto p {
  font-size: 0.9em;
}

.menuFlutuante [class^=bto-]:not(.bto-fechar) {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.6em;
  color: #ED145B;
}
.menuFlutuante footer button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.2em;
  color: #ffffff;
}

.busca .form .grupo .bto-ir {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.8em;
  color: #ffffff;
}
.busca .form .grupo input.termos, .busca .form .grupo input.date {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.2em;
  color: #333333;
}
.busca .form .grupo select {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.25em;
  color: #ED145B;
}
.busca .form .grupo option {
  font-size: 1.5rem !important;
}

.container {
  max-width: 1137px;
}

#app nav.topo {
  padding: 62px 20px;
  position: relative;
}
#app nav.topo .bto-hamburger {
  transition: 0.25s;
  transform: scale(1);
  transform-origin: center center;
}
#app nav.topo .bto-hamburger:hover {
  transform: scale(1.15);
}
#app nav.topo .bto-hamburger:active {
  transform: scale(0.9) !important;
}
#app nav.topo .bto-hamburger:focus {
  outline: none;
  transform: scale(1.15);
  opacity: 0.5;
}
#app nav.topo .logo {
  position: absolute;
  top: 33px;
  left: calc(50% - 49px);
  transition: 0.25s;
  transform: scale(1);
  transform-origin: center center;
}
#app nav.topo .logo:hover {
  transform: scale(1.15);
}
#app nav.topo .logo:active {
  transform: scale(0.9) !important;
}
#app nav.topo .logo:focus {
  outline: none;
  transform: scale(1.15);
  opacity: 0.5;
}
#app nav.topo .redes-sociais {
  max-width: 139.15px;
  height: auto;
  float: right;
  display: flex;
  gap: 18px;
}
#app nav.topo .redes-sociais a {
  transition: 0.25s;
  transform: scale(1);
  transform-origin: center center;
}
#app nav.topo .redes-sociais a:hover {
  transform: scale(1.15);
}
#app nav.topo .redes-sociais a:active {
  transform: scale(0.9) !important;
}
#app nav.topo .redes-sociais a:focus {
  outline: none;
  transform: scale(1.15);
  opacity: 0.5;
}
#app #pausa {
  max-width: 1137px;
  height: 750px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #ffffff;
  z-index: 5;
  border-radius: 13px;
  box-shadow: 0 7px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 100px;
  overflow: hidden;
}
#app #pausa .pausa-corpo {
  height: 100%;
}
#app #pausa .pausa-corpo .imagem {
  width: 52.7%;
  height: 100%;
  float: left;
  position: relative;
  background-color: #333;
  display: flex; /* Ativa o flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  overflow: hidden; /* Esconde o excesso da imagem */
}
#app #pausa .pausa-corpo .imagem img {
  max-width: 100%; /* Garante que a imagem não ultrapasse a largura da div */
  max-height: 100%; /* Garante que a imagem não ultrapasse a altura da div */
  -o-object-fit: contain;
     object-fit: contain; /* Mantém a proporção da imagem e a escala para caber na div */
}
@media (max-width: 730px) {
  #app #pausa .pausa-corpo .imagem img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@media (max-width: 730px) {
  #app #pausa .pausa-corpo .imagem {
    float: unset;
    width: 100%;
    height: auto;
  }
  #app #pausa .pausa-corpo .imagem::before {
    content: "";
    display: block;
    width: 100%;
    height: auto;
    margin-top: 40%;
  }
}
#app #pausa .pausa-corpo .conteudo {
  float: right;
  height: 100%;
  width: 47.3%;
  position: relative;
  padding: 10px;
}
#app #pausa .pausa-corpo .conteudo header nav.controles {
  display: flex;
  background-color: #ECECEC;
  border-radius: 6px;
  padding: 10px 20px;
  box-shadow: inset 0 -3px 0 rgba(197, 197, 197, 0.25);
}
#app #pausa .pausa-corpo .conteudo header nav.controles .bto-esq, #app #pausa .pausa-corpo .conteudo header nav.controles .bto-dir {
  transition: 0.25s;
  transform: scale(1);
  transform-origin: center center;
}
#app #pausa .pausa-corpo .conteudo header nav.controles .bto-esq:hover, #app #pausa .pausa-corpo .conteudo header nav.controles .bto-dir:hover {
  transform: scale(1.15);
}
#app #pausa .pausa-corpo .conteudo header nav.controles .bto-esq:active, #app #pausa .pausa-corpo .conteudo header nav.controles .bto-dir:active {
  transform: scale(0.9) !important;
}
#app #pausa .pausa-corpo .conteudo header nav.controles .bto-esq:focus, #app #pausa .pausa-corpo .conteudo header nav.controles .bto-dir:focus {
  outline: none;
  transform: scale(1.15);
  opacity: 0.5;
}
#app #pausa .pausa-corpo .conteudo header nav.controles .bto-buscar-aleatoria {
  transition: 0.25s;
  background-color: #ED145B;
  height: auto;
  overflow: hidden;
  background-color: #ED145B;
  color: #ffffff;
  display: block;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0px;
  box-shadow: 0 3px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#app #pausa .pausa-corpo .conteudo header nav.controles .bto-buscar-aleatoria:hover {
  background-color: #DE7621;
}
#app #pausa .pausa-corpo .conteudo header nav.controles .bto-buscar-aleatoria:active {
  background-color: #b1460d;
}
#app #pausa .pausa-corpo .conteudo header nav.controles .bto-buscar-aleatoria:focus {
  outline: none;
  background-color: #DE7621;
  opacity: 0.5;
}
#app #pausa .pausa-corpo .conteudo header nav.controles .bto-filtro {
  transition: 0.25s;
  transform: scale(1);
  transform-origin: center center;
  padding-left: 20px;
}
#app #pausa .pausa-corpo .conteudo header nav.controles .bto-filtro:hover {
  transform: scale(1.15);
}
#app #pausa .pausa-corpo .conteudo header nav.controles .bto-filtro:active {
  transform: scale(0.9) !important;
}
#app #pausa .pausa-corpo .conteudo header nav.controles .bto-filtro:focus {
  outline: none;
  transform: scale(1.15);
  opacity: 0.5;
}
#app #pausa .pausa-corpo .conteudo header nav.controles .bto-esq {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#app #pausa .pausa-corpo .conteudo header nav.controles .bto-data {
  color: #ED145B;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  border-bottom: 2px dotted #ED145B;
  transition: 0.2s;
}
#app #pausa .pausa-corpo .conteudo header nav.controles .bto-data:hover {
  border-color: #ECECEC;
}
#app #pausa .pausa-corpo .conteudo header nav.controles .bto-dir {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#app #pausa .pausa-corpo .conteudo section {
  height: calc(100% - 200px);
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#app #pausa .pausa-corpo .conteudo section .aspas {
  background: url(../img/aspas-in.svg) top left no-repeat, url(../img/aspas-out.svg) bottom right no-repeat;
  padding: 40px 0px;
}
#app #pausa .pausa-corpo .conteudo section .aspas .frase {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2em;
  color: #ED145B;
}
#app #pausa .pausa-corpo .conteudo section .aspas .mensagem {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.2em;
  color: #000000;
}
@media (max-width: 730px) {
  #app #pausa .pausa-corpo .conteudo section {
    display: block;
    margin-top: 40px;
  }
}
#app #pausa .pausa-corpo .conteudo footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100%;
  width: calc(100% - 20px);
}
#app #pausa .pausa-corpo .conteudo footer .bto-compartilhar {
  transition: 0.25s;
  background-color: #ED145B;
  height: auto;
  overflow: hidden;
  background-color: #ED145B;
  color: #ffffff;
  display: block;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0px;
  box-shadow: 0 3px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#app #pausa .pausa-corpo .conteudo footer .bto-compartilhar:hover {
  background-color: #DE7621;
}
#app #pausa .pausa-corpo .conteudo footer .bto-compartilhar:active {
  background-color: #b1460d;
}
#app #pausa .pausa-corpo .conteudo footer .bto-compartilhar:focus {
  outline: none;
  background-color: #DE7621;
  opacity: 0.5;
}
#app #pausa .pausa-corpo .conteudo footer .assinatura {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.2em;
  color: #000000;
  margin-bottom: 60px;
}
#app #pausa .pausa-corpo .conteudo footer .assinatura span {
  color: #ED145B;
}
@media (max-width: 730px) {
  #app #pausa .pausa-corpo .conteudo footer {
    position: relative;
    bottom: unser;
    right: unset;
    width: 100%;
    margin-top: 40px;
  }
}
@media (max-width: 730px) {
  #app #pausa .pausa-corpo .conteudo {
    float: none;
    width: 100%;
  }
}
@media (max-width: 730px) {
  #app #pausa .pausa-corpo {
    height: auto;
  }
}
@media (max-width: 1200px) {
  #app #pausa {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 730px) {
  #app #pausa {
    height: auto;
  }
}
#app .menuFlutuante {
  position: fixed;
  top: 0px;
  left: -457px;
  width: 457px;
  height: 100%;
  box-shadow: 9px 0 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  z-index: 100;
  padding: 0 20px;
  transition: 0.35s;
}
#app .menuFlutuante.ativo {
  left: 0px;
}
#app .menuFlutuante .logo {
  margin: auto;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
#app .menuFlutuante [class^=bto-]:not(.bto-fechar) {
  width: 100%;
  margin-top: 20px;
  transition: 0.25s;
  transform: scale(1);
  transform-origin: center center;
}
#app .menuFlutuante [class^=bto-]:not(.bto-fechar):hover {
  transform: scale(1.15);
}
#app .menuFlutuante [class^=bto-]:not(.bto-fechar):active {
  transform: scale(0.9) !important;
}
#app .menuFlutuante [class^=bto-]:not(.bto-fechar):focus {
  outline: none;
  transform: scale(1.15);
  opacity: 0.5;
}
#app .menuFlutuante header {
  overflow: hidden;
}
#app .menuFlutuante header .bto-fechar {
  padding: 20px;
  float: right;
  transition: 0.25s;
  transform: scale(1);
  transform-origin: center center;
}
#app .menuFlutuante header .bto-fechar:hover {
  transform: scale(1.15);
}
#app .menuFlutuante header .bto-fechar:active {
  transform: scale(0.9) !important;
}
#app .menuFlutuante header .bto-fechar:focus {
  outline: none;
  transform: scale(1.15);
  opacity: 0.5;
}
#app .menuFlutuante header .bto-fechar img {
  width: 20.15px;
  height: 20.15px;
}
#app .menuFlutuante footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
}
#app .menuFlutuante footer button {
  transition: 0.25s;
  background-color: #ED145B;
  height: auto;
  overflow: hidden;
  background-color: #ED145B;
  color: #ffffff;
  display: block;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0px;
  box-shadow: 0 3px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#app .menuFlutuante footer button:hover {
  background-color: #DE7621;
}
#app .menuFlutuante footer button:active {
  background-color: #b1460d;
}
#app .menuFlutuante footer button:focus {
  outline: none;
  background-color: #DE7621;
  opacity: 0.5;
}
#app .wall {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  animation-name: wall;
  animation-duration: 1s;
  left: 0px;
  top: 0px;
}
#app .wall.sair {
  animation-name: sair;
  touch-action: none;
  pointer-events: none;
}
#app .busca {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.96) 41%, rgba(255, 255, 255, 0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  z-index: 1000;
  display: none;
}
#app .busca .bto-fechar {
  transition: 0.25s;
  transform: scale(1);
  transform-origin: center center;
  position: absolute;
  top: 20px;
  right: 20px;
}
#app .busca .bto-fechar:hover {
  transform: scale(1.15);
}
#app .busca .bto-fechar:active {
  transform: scale(0.9) !important;
}
#app .busca .bto-fechar:focus {
  outline: none;
  transform: scale(1.15);
  opacity: 0.5;
}
#app .busca .form {
  height: 100%;
  display: flex; /* Ativa o Flexbox */
  flex-direction: column; /* Organiza os itens em coluna */
  align-items: center; /* Alinha os itens ao centro horizontalmente */
  justify-content: center; /* Alinha os itens ao centro verticalmente */
  /* Outras propriedades de estilo que você desejar (largura, altura, etc.) */
}
#app .busca .form .grupo {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
  height: 79px;
  margin: 10px 20px;
  padding: 0px 20px;
  overflow: hidden;
}
#app .busca .form .grupo img.ico-lupa {
  width: 94.98px;
  height: auto;
}
@media (max-width: 700px) {
  #app .busca .form .grupo img.ico-lupa {
    margin: auto;
  }
}
@media (max-width: 700px) {
  #app .busca .form .grupo {
    height: auto;
  }
}
#app .busca .form .grupo .bto-ir {
  transition: 0.25s;
  background-color: #ED145B;
  height: auto;
  overflow: hidden;
  background-color: #ED145B;
  color: #ffffff;
  display: block;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0px;
  box-shadow: 0 3px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  max-width: 184px;
  width: 100%;
  height: 79px;
}
#app .busca .form .grupo .bto-ir:hover {
  background-color: #DE7621;
}
#app .busca .form .grupo .bto-ir:active {
  background-color: #b1460d;
}
#app .busca .form .grupo .bto-ir:focus {
  outline: none;
  background-color: #DE7621;
  opacity: 0.5;
}
@media (max-width: 700px) {
  #app .busca .form .grupo .bto-ir {
    width: 100%;
    max-width: unset;
  }
}
@media (max-width: 700px) {
  #app .busca .form .grupo:nth-child(1) {
    flex-direction: column;
  }
}
#app .busca .form .grupo:nth-child(2) {
  height: auto;
}
@media (max-width: 700px) {
  #app .busca .form .grupo:nth-child(2) {
    margin-top: 20px;
  }
}
#app .busca .form .grupo input.termos, #app .busca .form .grupo input.date {
  border: 0px none;
  background: none;
  text-align: left;
  border-bottom: 3px solid #ED145B;
  max-width: 508px;
  width: 100%;
}
#app .busca .form .grupo input.date {
  text-align: center;
}
#app .busca .form .grupo select {
  padding: 10px;
  border: 2px solid #ED145B;
  background-color: white;
  max-width: 306px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}
#app .busca .form .grupo option {
  background-color: #f0f0f0;
  padding: 5px;
}
#app .busca .form .grupo input[type=checkbox] {
  border: 3px solid #333;
}
#app .busca .form .grupo label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#app .busca .form .grupo input[type=checkbox]:checked {
  border: 3px solid #ED145B;
  background-color: #ED145B;
}
@keyframes wall {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes sair {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#perfil {
  position: relative;
  z-index: 10;
  padding-top: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100px;
}
#perfil .avatar {
  border-radius: 100%;
}
#perfil .projeto {
  max-width: 420px;
  margin: auto;
}/*# sourceMappingURL=estilos.css.map */